
// ============================================================================
//  Basic classes
// ============================================================================

.hidden {
  display: none !important;
}

.success {
  color: seagreen;
}

.failure {
  color: crimson;
}

.info {
  color: mediumvioletred !important;
}

.dragover {
  background-color: lavender !important;
  border-color: mediumpurple !important;
  box-shadow: 0 0 5px -1px mediumpurple !important;
}

.main-row {
  > input {
    width: -webkit-fill-available;
  }
  .row-title {
    margin-top: 10px;
    margin-bottom: 3px;
  }
}

.styled-input {
  padding: 7px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;

  // Bring size in line with UI dropdowns
  line-height: 22px;

  // Make padding look even on all sides (font has internal padding)
  padding-left: 10px;
  padding-right: 10px;

  &:not(:disabled):hover {
    border-color: rgba(34, 36, 38, 0.35);  // Same as the Semantic UI tag inputs
  }
}

.styled-button {
  -webkit-appearance: none;
  min-width: 105px;
  padding: 7px 15px;
  border-radius: 4px;
  background-color: #0773fb;
  border: none;
  color: white;
  font-weight: bold;

  &:hover:not(:disabled) {
    background-color: blue;
  }
  &:disabled {
    opacity: 0.4;
  }
  &:not(:disabled) {
    cursor: pointer;
  }
}

.booru-post {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 12px;
  }
  img {
    outline: 1px solid mediumpurple;
    border-radius: 3px;
  }
}

img.preview {
  object-fit: contain;

  &.small {
    max-width: 175px;
    max-height: 175px;
  }
  &.medium {
    max-height: 300px;
    max-width: 300px;
  }
  &.large {
    max-height: 100vh;
    max-width: 55vw;
  }
}

.ui.popup.warning {
  border-color: red;
  background-color: #fff0f0;
  color: darkred;

  &::before {
    box-shadow: red 1px 1px 0px 0px;
    background: #fff0f0 !important;
  }
}

input:focus {
  outline: none !important;
}

.pixiv-tags {
  margin-top: 10px;
}

.pixiv-tag-wrapper {
  margin-top: 2px;
  margin-right: 12px;
  display: inline-block;

  .pixiv-tag {
    color: rgb(61, 118, 153);
    display: inline-block;
    max-width: 68px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;  // Remove white-space caused by inline-block + hidden overflow, see a/51088033
  }
  .translated-pixiv-tag {
    color: #707070;
    font-size: 0.9rem;
    margin-left: 4px;
  }
}

.extension-settings-link {
  cursor: pointer;
}

// ============================================================================
//  Semantic UI customizations
// ============================================================================

.ui.selection.dropdown {
  min-height: unset; // Default height of dropdown input is larger than needed
  border: 1px solid #e0e0e0;  // Same as .styled-input
}

.ui.label {
  font-weight: normal;
  color: rgba(0,0,0,.72);

  > .delete.icon {
    font-size: 1rem;
  }
}

.ui.ui.multiple.dropdown {
  // Lots of wasted space here in Semantic UI, set right padding equal to left
  padding-right: 5px;
}

.ui.multiple.dropdown > .label {
  font-size: 1.1rem;
  padding-top: 3.5px;
  padding-bottom: 5px;
}

.ui.fluid.dropdown {
  width: unset !important;
}

// X-icons waste too much space, one can delete using backspace/del instead
.label:not(.rare) i.icon.delete {
  display: none;
}

// Search results have too much padding, tone it down a bit
.ui.fluid.search > .results .result {
  padding-bottom: 0.357143em;
  padding-top: .55714286em;
  padding-left: 0.74285714em;
  padding-right: 0.74285714em;

  .title {
    font-weight: normal;
  }
}

// Manually style inline radiobuttons, no need to import form.css
.ui.form > .inline.grouped.fields {
  display: flex;
  flex-direction: row;

  label {
    margin-right: 16px;
  }
  .ui.radio.checkbox label {
    padding-left: 22px;
  }
}

// Following dimensions make the dot in radiobuttons properly centered
// (Semantic UI has it in .ui.checkbox, but not in .ui.radio.checkbox)
.ui.radio.checkbox label:after {
  width: 17px;
  height: 17px;
}

// Importing fonts in content scripts is quite a hassle, it doesn't work
// with the import statements in the Semantic UI files, so I manually
// import a font with a few custom icon glyphs in the main script
i.icon {
  font-family: CustomIcons;
}

.ui.vertical.menu {
  width: 198px;
  min-height: unset;
}

.ui.vertical.menu, .ui.compact.vertical.menu {
  padding: 0;

  .item {
    padding: 10px;
    padding-left: 12px;
    padding-right: 15px;

    &:not(:last-child) {
      border-bottom: 1px solid #e6e6e6;
    }

    &::before {
      display: none;
    }

    i.left.icon {
      float: none;
      margin: 0em 0.35714286em 0em 0em;
    }
  }
}

.ui.dropdown {
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  color: #555;
}