.file-input-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.file-input-label {
  flex: 1;
  padding: 7px;
  padding-left: 10px;
  cursor: pointer;

  &.placeholder {
    color: dimgrey;
  }
}

.paste-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  color: #aaa;

  .paste.icon, .status-message {
    padding: 7px;
    padding-left: 12px;
    user-select: none;
  }
  .status-message {
    padding-right: 12px;
    display: none;
  }
  .status-message:not(.failure) {
    color: #707070;

    &.downloading {
      color: darkslateblue;
    }
  }
  .hidden-input {
    width: 0;
    border: 0;
    padding: 0;
  }

  &:focus-within:not(.show-message) {
    .paste-info {
      display: block;
    }
    .paste.icon {
      display: none;
    }
  }

  &.show-message {
    &.paste-error {
      .status-message.paste-error {
        display: block;
      }
    }
    &.download-error {
      .status-message.download-error {
        display: block;
      }
    }
    &.downloading {
      .status-message.downloading {
        display: block;
      }
    }
    .paste.icon {
      display: none;
    }
  }

  // Display a short border on the left
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    bottom: 7px;
    width: 1px;
    background-color: #d0d0d0;
  }

  &:hover {
    color: #888;

    &:before {
      background-color: #b0b0b0;
    }
  }
}

.image-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .medium.preview {
    margin-top: 10px;
    outline: 1px solid mediumpurple;
    border-radius: 3px;
  }
}

.image-checks {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-right: 0;
  font-size: 1.2rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

.hash-matches-wrapper {
  display: flex;
  flex-direction: row;
}

.hash-matches > a {
  margin-left: 12px;
}

.source-matches-wrapper, .iqdb-matches-wrapper{
  margin-top: 12px;
}

.source-matches, .iqdb-matches {
  white-space: nowrap;
  margin-top: 10px;
  max-width: 565px;
  // Add small padding so that outline of children is visible
  padding: 1px;
}

.source-matches {
  // Only show first few posts if there are many,
  // user can visit Gelbooru search page to see all posts
  padding-right: 10px;
  overflow: hidden;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 10px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background: linear-gradient(to left, white, 60%, transparent);
  }
}

.iqdb-matches {
  // Make sure that user can see all IQDB matches
  overflow: auto;
}

.search-iqdb-button {
  margin-top: 11px;
  width: unset;
}

.no-file-error-message {
  margin-top: 6px;
}
