.main-interface-wrapper {
  display: flex;
  flex-direction: row;
}

.main-wrapper {
  flex: 1;
  padding: 10px 20px;
  max-width: 760px;
  overflow-x: hidden;

  &.partial-scrolling {
    max-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-right: 10px;

    .interface-wrapper {
      // Not sure if this is still needed in a flex-box, doesn't seem to make any difference now
      min-height: 0;  // Make it shrink

      // NOTE: "%" in flex-basis is necessary, with just "0" it doesn't work properly in all cases
      flex-basis: 0%;  // Allow element to shrink
      flex-grow: 1;  // Make sure it still grows as large as possible

      overflow: auto;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      border-image: linear-gradient(to right, transparent, 5%, grey, 70%, transparent) 1;
      padding-bottom: 10px;
      padding-right: 10px;

      // Extend the fading border to the left side 
      margin-left: -12px;
      padding-left: 12px;

      &::-webkit-scrollbar-track {
        background: transparent;
      }
    }
  }
}

.tabs-wrapper {
  max-height: 240px;  // Make it such that about one and a half rows of tabs are visible at once
  overflow: auto;

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  // Add padding so that shadow of selected tabs is not cut off
  padding-left: 4px;
  margin-left: -4px;  // Negative offset to keep container at the original position
  padding-right: 4px;
  padding-bottom: 14px;
  padding-top: 10px;

  // Make the container go all the way to the edge of the screen, so that no space is wasted.
  // This also makes sure that tabs are not abruptly cut off on the background while scrolling.
  margin-top: -10px;

  .tabs-container {
    display: inline;
  }
  .tab {
    display: inline-block;
    margin-right: 6px;
    margin-top: 6px;
    border: 1px solid #aaa;
    border-radius: 3px;
    transition: background-color 0.15s;
    cursor: pointer;    
    min-width: 64px;
    max-width: 135px;
    user-select: none;
    overflow: hidden;
    vertical-align: top;

    &.add-tab-button {
      .tab-status {
        pointer-events: none;
      }
    }

    .thumbnail {
      // border-bottom-left-radius: 3px;
      // border-bottom-right-radius: 3px;
      display: block;  // To get rid of margin below image
      max-width: var(--max-thumbnail-size);
      max-height: var(--max-thumbnail-size);
      margin: auto;

      // &:not([src]) {
      //   display: none;
      // }
    }

    .tab-status {
      padding-top: 5px;
      padding-bottom: 7px;
      padding-left: 2px;
      padding-right: 2px;
      font-size: 1.2rem;
      color: #555;
      text-align: center;
      transition: color 0.15s;
    }

    &:hover {
      .tab-status {
        color: #444;
      }
      background-color: lighten(lavender, 2%);
      border-color: lighten(mediumpurple, 10%);
    }
    &.main-selected {
      .tab-status {
        color: #222;
        text-shadow: 0 0 3px white, 0 0 3px white;
      }
      background-color: darken(lavender, 6%);
      border-color: mediumpurple;
    }
    &.selected {
      .tab-status {
        color: #333;
        text-shadow: 0 0 3px white, 0 0 3px white;
      }
      background-color: peachpuff;  // mistyrose;
      box-shadow: 0 0 3px 2px peachpuff;

      &:not(.main-selected) {
        border-color: rosybrown;
      }
      &.main-selected {
        box-shadow: inset 0 0 16px 5px #cdcdf5, 0 0 3px 2px peachpuff;
      }
      // .tab-status {
      //   color: #333;
      //   &.uploaded { color: darken(#006ffa, 7%); }
      //   &.success { color: darken(seagreen, 7%); }
      //   &.failure { color: darken(crimson, 7%); }
      // }
      // background-color: darken(lavender, 1%);
      // border-color: lighten(mediumpurple, 6%);
    }

    &.success {
      // border-color: #69b869;

      .tab-status {
        color: seagreen;
        // color: green;
        // background-color: #b7f2b7;
        // text-shadow: 0 0 3px white;
      }
      &:hover {
        .tab-status {
          color: darken(seagreen, 4%);
        }
      }
      &.selected {
        .tab-status {
          color: darken(seagreen, 7%);
        }
      }
      &.main-selected {
        .tab-status {
          color: darken(seagreen, 9%);
        }
      }
    }

    &.failure {
      // border-color: #b66060;

      .tab-status {
        color: crimson;
        // color: darkred;
        // background-color: #f4aeae;
        // text-shadow: 0 0 3px white;
      }
      &:hover {
        .tab-status {
          color: darken(crimson, 4%);
        }
      }
      &.selected {
        .tab-status {
          color: darken(crimson, 7%);
        }
      }
      &.main-selected {
        .tab-status {
          color: darken(crimson, 9%);
        }
      }
    }

    &.uploaded {
      // border-color: #549fcf;

      .tab-status {
        color: #006ffa;
        // color: darkslateblue;
        // background-color: #a7ddff;
        // text-shadow: 0 0 3px white;
      }
      &:hover {
        .tab-status {
          color: darken(#006ffa, 4%);
        }
      }
      &.selected {
        .tab-status {
          color: darken(#006ffa, 7%);
        }
      }
      &.main-selected {
        .tab-status {
          color: darken(#006ffa, 9%);
        }
      }
    }
  }
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 14px;
  margin-bottom: 6px;

  button {
    margin-right: 20px;
  }
}

.large-image-preview-wrapper {
  display: none;
}

@media (min-width: 1250px) {
  .main-interface-wrapper.large-image-preview-enabled {
    height: 100vh;
    overflow: hidden;

    .main-wrapper {
      max-height: 100vh;
      box-sizing: border-box;
      overflow: auto;
    }
    img.medium.preview {
      display: none;
    }
    .large-image-preview-wrapper {
      display: block;
      margin-right: 10px;
      margin-left: 10px;
      align-self: center;
    }
  }
}

.upload-status {
  font-size: 1.1rem;
}