.wiki-modal {
  .recent-posts-wrapper {
    padding: 1px;  // To prevent cutting off outline of thumbnails
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    margin-right: -4px;

    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      content: "";
      width: 10px;
      background: linear-gradient(to left, white, 60%, transparent);
    }

    .recent-posts {
      padding-right: 10px;
    }
  }

  .content .recent-posts-header {
    display: flex;
    flex-direction: row;
    margin-top: 14px;
    margin-bottom: 10px;

    h4 {
      margin: 0;
    }
    a {
      margin-left: 10px;
    }
  }

  .booru-post-with-description {
    display: inline-block;
    margin-right: 12px;
    text-align: center;
    vertical-align: top;

    .booru-post {
      margin-right: 0;
    }

    .booru-post-description {
      font-size: 0.95rem;
      text-align: center;
      max-width: 175px;
    }
  }

  .header-text {
    &.no-wiki-page {
      color: dimgray;
    }
    a[data-type="tag"] {
      // color: rgb(0, 117, 248);
      color: #404040;
    }
  }

  a {
    $artist-color: rgb(170, 0, 0);
    $character-color: rgb(0, 150, 0);
    $copyright-color: rgb(170, 0, 170);
    $metadata-color: #e7640d;  // Slightly darker than original for better readability

    // Color wiki links according to tag type
    // &[data-type="tag"] {
    //   color: #2d6da3;  // #337ab7;
    // }
    &[data-type="artist"] {
      color: $artist-color;
    }
    &[data-type="character"] {
      color: $character-color;
    }
    &[data-type="copyright"] {
      color: $copyright-color;
    }
    &[data-type="metadata"] {
      color: $metadata-color;
    }
    &[data-type="deprecated"] {
      color: grey;
    }
  }
}